* {
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    min-width: 100vw;
}

.container{
    display:grid;
    grid-template-rows: 1fr 5fr;
}

.bookform{
    grid-row:2/3;
    background-color: antiquewhite;
}

fieldset{
    display: flex;
    border-style: none;
    margin-left: 5px;
    justify-content: center;
    padding: 0px;
}


.updateBox{
    grid-row: 1/2;
}